.listaPosts{
    background-color: rgba(212, 212, 212, 0.2);
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.listaConteudo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    margin: 12px;
    width: 307px;
    height: 270px;
    transition: all 0.3s ease-out;
    display: flex;
    flex-direction: column;
    z-index: 998;
}

.card:hover {
    transform: translateY(-5px);
}
.orange {
    border-top: 3px solid #dd974f;
}
.blue {
    border-bottom: 3px solid navy;
}

.card .conteudoImg{
    flex: 1;
 }
 
.card .conteudoImg img{
     width: 100%;
     height: 140px;
     border-radius: 6px;
     cursor: pointer;
 }
 
/*-----------CONTEUDO---------*/
.card .conteudo{
    flex: 1;
    position: relative;
    width: 100%;
}
.conteudoTitulo{
    margin-top: 2px;
    margin-left: 0.7rem;
}

.conteudoDescricao{
    margin-top: 2px;
    margin-left: 0.8rem;
    font-size: 0.8em;
}

.conteudoCategoria{
    float: left;
    padding: 2px;
    margin-top: auto;
    margin-left: 0.7rem;
    margin-bottom: 10px;
    justify-content: flex-end;
    bottom:0;
    position: absolute;
}
.conteudoCategoria label{
    background-color: #dd974f;
    color: white;
    padding: 4px;
    border-radius: 4px;
}

.conteudoLike{
    display: flex;
    float: left;
    margin-left: 5rem;
    justify-content: center;
    bottom:4px;
    position: absolute;
}
.conteudoLike label{
    margin-left: 10px;
    font-size: 14px;
}
.conteudoLike button{
    border: none;
    color: navy;
    background-color: transparent;
    font-size: 18px;
    cursor: pointer;
} 

.conteudoUnlike{
    display: flex;
    float: left;
    margin-left: 8rem;
    justify-content: center;
    bottom:4px;
    position: absolute;
}
.conteudoUnlike label{
    margin-left: 10px;
    font-size: 14px;
}
.conteudoUnlike button{
    border: none;
    color: rgb(161, 2, 2);
    background-color: transparent;
    font-size: 18px;
    cursor: pointer;
} 

.conteudoUser{
    display: flex;
    float: right;
    margin-top: 3.18rem;
    padding: 7px;
    font-size: 14px;
}
.conteudoUser i{
    color: navy;
    margin-right: 7px;
    font-size: 13px;
}

/* .conteudoIcon{
    font-size: 36px;
    text-align: center;
    margin-top: 5rem;
    margin-left: 8rem;
    position: absolute;
    z-index: 999;
} */
