.containerPlayer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
}

.conteudo .player{
    position: relative;
    padding-bottom: 10.25%; /* 16:9 */
    padding-top: 300px;
}

.player iframe{
    margin-left: 8rem;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
}

.conteudo .conteudoTitle{
    display: flex;
    text-align: center;
    margin-top: 1rem;
    margin-left: 8rem;
    cursor: pointer;
}

.conteudo .conteudoTitle p{
    margin-top: 2px;
    margin-left: 5px;
    color: navy;
}

.conteudo .conteudoDescricaoPost{
    margin-top: 6px;
    margin-left: 8rem;
    color: #555;
    cursor: pointer;
}

.conteudo .link{
    display: flex;
    margin-left: 1rem;

    justify-content: flex-end;
}

.conteudo .link a{
    text-decoration: none;
}
.conteudo .link .returnBtn{
    height: 35px;
    width: 190px;
    padding: 6px;
    border: none;
    background-color: transparent;
    color: navy;
    cursor: pointer;
    border: 1px solid #dd974f;
    border-radius: 25px;
    justify-content: left;
}

.conteudo .link .returnBtn:hover{
    background-color: #dd974f;
    color: white;
}

/*-------Comments-------*/
.addCommentContainer input{
    margin-top: 3rem;
    margin-left: 2rem;
    margin-right: 10px;
    height: 35px;
    width: 30%;
    padding: 6px;
    border: none;
    border-bottom: 1px solid #555;
}

.addCommentContainer button{
    height: 35px;
    width: 100px;
    padding: 2px;
    border: 1px solid #dd974f;
    border-radius: 25px;
    background-color: transparent;
    color: navy;
    cursor: pointer;
}

.addCommentContainer button:hover{
    background-color: #dd974f;
    color: white;
}

.containerPlayer .listOfComments{
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
    width: 40%;
    font-size: 22px;
}

.comment {
    margin-top: 1rem;
    font-size: 16px;
    margin-right: 2rem;
    color: #555;
    padding: 1.0rem;
    text-transform: capitalize;
    background-color: rgba(200, 200, 200, 0.2);
}

.commentBody{
    padding: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    white-space: wrap;
    width: 90%;
    overflow: hidden; 
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.comment .deleteComment{
    border: none;
    background-color: transparent;
    font-size: 22px;
    color: rgb(185, 4, 4);
    cursor: pointer;
    float: right;
}

/*-----------------EXCLUIR POST-----------------*/
.link .deletePost{
    margin-left: 20rem;
    margin-right: 10rem;
}
.deletePost button{
    border: none;
    background-color: rgba(218, 1, 1, 0.712);
    padding: 10px;
    color: white;
    height: 35px;
    border-radius: 25px;
    cursor: pointer;
}
.deletePost button:hover{
    background-color: rgba(180, 0, 0, 1.0);
    box-shadow: 2px 5px 10px 2px rgba(200, 200, 200, 0.4);
}